<% layout("./layouts/boilerplate.ejs") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <h3><b><%= listing.title %></b></h3>
        <div class="card show-card">
            <img src="<%= listing.image %>" class="card-img-top show-img"
                alt="listing image">
            <div class="card-body">
                <p class="card-text"><i> owned By: <%= listing.owner.username
                        %></i></p>
                <p class="card-text"><span style="font-style: italic"><%=
                        listing.description
                        %></span></p>
                <p class="card-text">&#8377; <%=
                    listing.price.toLocaleString("en-IN") %></p>
                <p class="card-text">at <%= listing.location %>&nbsp;,<%=
                    listing.country %></p>
            </div>
        </div>
        <% if(currUser && currUser._id.equals(listing.owner._id)) { %>
        <div class="row btns">
            <a href="/stayease/<%= listing._id %>/edit"
                class="mb-3 btn btn-success col-sm-6 ">edit</a>
            <form method="POST"
                action="/stayease/<%= listing._id %>?_method=DELETE"
                class="col mb-3">
                <div class="d-grid gap-2">
                    <button class="btn btn-danger ">Delete</button>
                </div>

            </form>
        </div>
        <% } %>
        <hr>
        <% if(currUser) {%>
        <div class="rating mt-3 mb-3">
            <h4>Leave a review</h4>
            <form action="/stayease/<%= listing._id %>/reviews" method="POST"
                novalidate class="needs-validation">
                <div>
                    <label for="rating"
                        class="form-label">Rating</label>
                    <input type="range" min="1" max="5" name="review[rating]"
                        id="rating" class="form-range">
                </div>
                <div>
                    <label for="comment" class="form-label">Comment</label>
                    <textarea name="review[comment]" id="comment" cols="30"
                        rows="3" class="form-control" required></textarea>
                    <div class="invalid-feedback">
                        please enter a comment
                    </div>
                </div>
                <br>
                <button class="btn btn-outline-dark">submit</button>
            </form>
        </div>
        <hr>
        <% } %>

        <div class="reviews">
            <p><b>All Reviews</b></p>
            <div class="row">
                <% for(review of listing.reviews) {%>
                <div class="card col-5 ms-2 mb-3">
                    <div class="card-body">
                        <h5 class="card-title">@<%= review.author.username
                            %></h5>
                        <p class="card-text"><%= review.comment %></p>
                        <p class="card-text"><%= review.rating %> stars</p>
                    </div>
                    <% if(currUser && currUser._id.equals(review.author._id)) {
                    %>
                    <form class="mb-3 mt-3" method="POST"
                        action="/stayease/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                        <button
                            class="btn btn-sm btn-dark">delete</button>
                    </form>
                    <% } %>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>